# --- Node ---
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# --- Vite ---
dist/
.vite/
.vitecache/

# --- OS fichiers système ---
.DS_Store
Thumbs.db

# --- IDE (facultatif mais recommandé) ---
.vscode/
.idea/

# --- Logs ---
*.log

# --- Env (si jamais tu en utilises plus tard) ---
.env
.env.*
